__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

.env
.env.*
!.env.example

.vscode/
.idea/

.DS_Store
Thumbs.db

.ipynb_checkpoints/

*.zip
dist/
build/

athena-results/
raw/
transformed/
gold/

*.log