BASE_URL=https://api.coingecko.com/api/v3/coins/markets
CG_API_KEY=your_coingecko_api_key_here
RAW_BUCKET=coin-project-newone
RAW_PREFIX=raw
SYMBOLS=tether,binancecoin,tron,pax-gold,tether-gold,monero,bittensor,zcash,ousg,aave,okb,quant-network,whitebit,litecoin,hyperliquid,avalanche-2,kucoin-shares,gatetoken,pi-network,official-trump
VS_CURRENCY=usd

GLUE_JOB_NAME=job.py
RAW_PATH=s3://coin-project-newone/raw
SILVER_PATH=s3://coin-project-newone/transformed